/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

#nav {
	background:DodgerBlue;
	textcolor:#ffffff;
	padding: 0 0px;
	
}
.button
{
	width:100%;
	backgoundcolor:DodgerBlue;
	padding: 10px 20px;
	
}
